@import url("./fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: "vazir";
}

a {
  color: inherit;
  text-decoration: none;
}

button:disabled{
  background-color: #ddd;
  color: #444;
  cursor: not-allowed;
}
